<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>
<body>
    <!-- Header -->
    <Header id="header">
      <%- include('partials/header'); %>
    </Header>
    <!-- Header -->

    <!-- gallery  -->
    <section id="image">
      <div class="container-fluid p-2">
        <h3 class="text-center p-5">Our Image Gallery</h3>
        <div class="row text-center g-0">
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-andrea-piacquadio-3755760.jpg" class="img-fluid" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-buro-millennial-1438072.jpg" class="img-fluid" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-christina-morillo-1181672.jpg" class="img-fluid" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-stefan-lorentz-668137.jpg" alt="" srcset="">  
          </div>
        </div>
        <div class="row text-center g-0">
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-emily-ranquist-1205651.jpg" class="img-fluid" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-ivan-samkov-5676744.jpg" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-jopwell-2422294.jpg" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-laura-stanley-2519217.jpg" alt="" srcset="">  
          </div>
        </div>
        <div class="row text-center g-0">
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-stefan-lorentz-668137.jpg" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-pixabay-356065.jpg" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-rodolfo-quirós-1848731.jpg" alt="" srcset="">  
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <img src="images/pexels-shivam-798721.jpg" alt="" srcset="">  
          </div>
        </div>
        <div class="row text-center g-0">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <img src="images/pexels-stefan-lorentz-668137.jpg" alt="" srcset="">  
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <img src="images/pexels-pixabay-159775.jpg" alt="" srcset="">  
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <img src="images/pexels-eminumana-3978518 (2).jpg" alt="" srcset="">  
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <img src="images/pexels-wildan-zainul-faki-3660654.jpg" alt="" srcset="">  
          </div>
        </div>
      </div>
    </section>
    <!-- gallery  -->
        
    <!-- footer  -->
    <footer id="footer">  
        <%- include('partials/footer'); %>
    </footer> 
    <!-- footer -->
        <%- include('../../public/js/script'); %>
        <script src="/js/script.js"></script>

     <!-- back to top
     <div class="position-sticky bottom-0 end-0 border border-2 rounded circle">
      <a href="#header">
        <button type="button" name="button" class="button-u">
          <i class="fa-solid fa-arrow-up fa-2x"></i>
          
        </button>

      </a>
    </div>
    back to top -->
  </body>
</html>