<div class="container-fluid">
    <div class="foot1 row align-items-start justify-content-center p-5 bg-dark">
      <div class="col-sm-12 col-md-6 col-lg-3 foot1-a p-1">
        <h3 class="">About Helix</h3>
        <p>
          We're the leaders in developing a modern economy in the region through our expertise in systems
            integration, software development, and IT skill-development programmes. We're committed to
              seeing West Africa emerge as the leader in IT skills and services.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 foot1-a p-1">
        <h3>Important Links</h3>
        <a href="#" class="nav-link">About Helix International</a><br>
             <a href="#" class="nav-link">Awards & Case Studies</a><br>
             <a href="#" class="nav-link">Blogs & News</a><br>
             <a href="#" class="nav-link">Contact</a><br>
             <a href="#" class="nav-link">Services</a><br>
             <a href="#" class="nav-link">Shop</a><br>
             <a href="#" class="nav-link">Privacy Policy</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 foot1-a p-1">
        <h3>Latest News</h3>
        <img src="images/pexels-pixabay-256490.jpg" class="float-start p-2" height="50px" width="60px" alt="">
        <p class="mt-2">
          Trendetting in West Africa with Helix <br>
             03 August, 2021
        </p>
        <img class="float-start p-2" height="50px" src="images/pexels-pixabay-256455.jpg" alt="">
        <p class="mt-2">
          How reading improves Mental ability <br>
          30 July, 2021
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 foot1-a p-1">
        <h3>Contact Us</h3>
        <p >          
          Email : helixinternational@gmail.com <br>
          Phone : +233 0342 424840/90 <br>
          Head Office : 62, Lorem, ipsum. ROAD, <br>
          Lorem, Ipsum - Dolor
        </p>
        <h3>Connect With Us</h3>
        <a class="link" href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank">
          <img class="foot-img" src="images/facebook-logo-light-150x150.png" alt="">
        </a>
        <a class="link" href="https://www.instagram.com/" target="_blank">
          <img class="foot-img" src="images/instagram-logo-light-150x150.png" alt="">
        </a>
        <a class="link" href="https://twitter.com/" target="_blank">
          <img class="foot-img" src="images/twitter-logo-light-150x150.png" alt="">
        </a>
      </div>
    </div>
    <div class="foot2 row text-center">
      <p class="col mt-3">Copyright 2020 Helix International</p>
    </div>
</div>