<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= (typeof title != "undefined" ? title : "") %></title>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100:300&display=swap" rel="stylesheet">
<!-- Google Fonts -->

<!-- Shortcut icon -->
<link rel="shortcut icon" href="/images/helix_logo.png" type="image/x-icon">

<!-- Font Awesome-->
<script src="https://kit.fontawesome.com/f7af70e67a.js" crossorigin="anonymous"></script>